<nav class="navbar navbar-light bg-light">
  <div class="container-fluid container">
    <a class="navbar-brand" href="/">INICIO</a>
    <a class="navbar-brand" href="/process">CONSULTAR</a>
  </div>
</nav>